*{
    box-sizing: border-box;
}

body{
    background-color: black;
}


.pageGrid{
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: brown;
    padding: 2px;
    width: 70%;
    margin: auto;
    margin-top: 10vh;
}

.grid-item{
    padding: 20px;
    border: 2px solid black;
    height: 70vh;
    background-color: grey;
}

#taskNew{
    margin-top: 8.5vh;
    background-color: green;
    height: 3vh;
    max-width: 7vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#taskNew:hover{
background-color: rgb(72, 112, 72);
color: white;
transform: scale(1.1, 1.1);
}

.grid1> #container{
    display: block;
    margin: auto;
    margin-top: 4vh;
    margin-bottom: 4vh;
    width: 15vw;
    height: 40vh;
    border: 2px solid black;
    background-color: white;
    background-color: rgb(109, 102, 116);
}

 .buttonsLower{
    display: flex;
    width: 12vw;
    display: block;
    margin: auto;
    margin-top: 2vh;
}

#enter{
    background-color: blueviolet;
    width: 2.8vw;
    margin-left: 2.7vw;
}

#enter:hover{
background-color: rgb(90, 71, 107);
color: white;
transform: scale(1.1, 1.1);
}

#clear{
    margin-left: 1vw;
    width: 2.8vw;
    background-color: red;
}

#clear:hover{
    background-color: rgb(131, 78, 78);
    color: white;
    transform: scale(1.1, 1.1);
}


#date, #priority, #title{
  width: 9.7vw;
  text-align: center;
}

input, select{
    display: block;
    margin: auto;
}

#details{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 7vh;
    width: 10vw;
    overflow-y: auto;
    overflow-wrap: break-word;
    resize: none;
}

#titleHeader{
    margin-top: 5vh;
}

.pendingTasks{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 1.9vh;
    width: 48vw;
    height: 60vh;
}


 .pendingTasks > *{
    height: 60vh;
    width: 12vw;
    border: 1px solid black;
    background-color: beige;
    border: 2px solid black;
    overflow-y: auto;
    overflow-x: hidden;
}

.heading{
    width: 11.78vw;
    min-height: 3vh;
    font-size: x-large;
    text-align: center;
    top: 0;
    position: sticky;
}

.pLow{
    background-color: rgb(231, 220, 222);
}

.pMed{
    background-color: rgb(214, 77, 77);
}

.pHigh{
    background-color: rgb(180, 5, 5);
}

h1{
    color: white;
    text-align: center;
    margin-top: 5%;
}

.inputInfo{
   display: block;
    width: 100%;
    height: auto;
    background-color: lightgrey;
    border: 1px solid black;
    margin-top: 2vh;   
}


#wipe{
    width: 6vw;
    height: 6vh;
    background-color: GREY;
    position: absolute;
    right: 2vw;
    top: 50%;

}

#wipe:hover{
    background-color: rgb(95, 68, 68);
    color: white;
    transform: scale(1.1, 1.1);
}

#confirm{
    width: 6vw;
    height: 6vh;
    background-color: red;
    position: absolute;
    right: 2vw;
    top: 50%;
}

#wipeText{
    text-align: center;
    margin-top: 0.7vh;
}

#wipeBox{
    display: flex;
    justify-content: space-around;
    margin-top: 1vh;
}

#yes:hover{
    background-color: green;
    color: white;
}

#no:hover{
    background-color: brown;
    color: white;
}

.transferredInput{
    margin-top: 1vh;
    margin-bottom: 1vh;
    text-align: center;
    height: auto;
    overflow-wrap: break-word;
}














