*{
    box-sizing: border-box;
}

body{
    background-color: black;
}


.pageGrid{
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: brown;
    padding: 2px;
    width: 70%;
    margin: auto;
    margin-top: 15vh;
}

.grid-item{
    padding: 20px;
    border: 2px solid black;
    height: 70vh;
    background-color: grey;
}

#taskNew{
    margin-top: 8.5vh;
    background-color: green;
    height: 3vh;
    max-width: 7vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.grid1> #container{
    display: block;
    margin: auto;
    margin-top: 4vh;
    width: 15vw;
    height: 38vh;
    border: 2px solid black;
    background-color: white;
}

 .buttonsLower{
    display: flex;
    width: 12vw;
    display: block;
    margin: auto;
    margin-top: 2vh;
}

#enter{
    background-color: blueviolet;
    width: 2.8vw;
    margin-left: 2.7vw;
}

#clear{
    margin-left: 1vw;
    width: 2.8vw;
    background-color: red;
}

#container{
    background-color: red;
    width: 1.5vw;
}

#date, #priority, #title{
  width: 9.7vw;
  text-align: center;
}

input, select{
    display: block;
    margin: auto;
}

#details{
    max-height: 10vh;
    max-width: 9vw;
    word-wrap: break-word;
    overflow-y: scroll;
}

#titleHeader{
    margin-top: 5vh;
}












